# build
dist/
.astro/
.quartz-cache/
public/index.html
public/index.css
public/index.xml
public/notes/
public/tags/
public/static/
public/postscript.js
public/prescript.js
public/sitemap.xml
public/404.html
public/favicon.ico

# deps
node_modules/

# env
.env
.env.local

# logs / os
*.log
.DS_Store
Thumbs.db
.obsidian/
prof/
tsconfig.tsbuildinfo

# editor
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
